{% extends 'base.html' %}
{% load static %}

{% block content %}
<body class="bg-gradient-dark">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register" style="background-image: url('{% static 'img/smart.jpg' %}')">


                        <div class="p-5">
                                   
                            {% comment %} <p><h3>Warning!</h3>
                              This page is a restricted page<br>Please enter your details accordingly</p> {% endcomment %}
                            </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4"> Create Admin Account!</h1>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        {{ form.username.label_tag }}
                                 
                                    </div>
                                    <div class="col-sm-12">
                                    
                                        {{ form.username }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        {{ form.email.label_tag }}
                                       
                                    </div>
                                    <div class="col-sm-12">
                                      
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        {{ form.password1.label_tag }}
                                       
                                    </div>
                                    <div class="col-sm-12">
                                      
                                        {{ form.password1 }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        {{ form.password2.label_tag }}
                                      
                                    </div>
                                    <div class="col-sm-12">
                                        
                                        {{ form.password2 }}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-dark btn-user btn-block">
                                    Register Account
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'admin_login' %}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body> 

{% comment %} <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form> {% endcomment %}

{% endblock %}
